<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-bridge-category-heading" jhiTranslate="finaltestApp.bridgeCategory.home.createOrEditLabel">Create or edit a Bridge Category</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!bridgeCategory.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="bridgeCategory.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="finaltestApp.bridgeCategory.idBridge" for="field_idBridge">Id Bridge</label>
                    <input type="number" class="form-control" name="idBridge" id="field_idBridge"
                        [(ngModel)]="bridgeCategory.idBridge" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="finaltestApp.bridgeCategory.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="bridgeCategory.name" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="finaltestApp.bridgeCategory.bridgeCategoryParent" for="field_bridgeCategoryParent">Bridge Category Parent</label>
                    <select class="form-control" id="field_bridgeCategoryParent" name="bridgeCategoryParent" [(ngModel)]="bridgeCategory.bridgeCategoryParent" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="bridgeCategoryOption.id === bridgeCategory.bridgeCategoryParent?.id ? bridgeCategory.bridgeCategoryParent : bridgeCategoryOption" *ngFor="let bridgeCategoryOption of bridgecategories; trackBy: trackBridgeCategoryById">{{bridgeCategoryOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
