<div>
    <h2 id="page-heading">
        <span jhiTranslate="finaltestApp.bridgeCategory.home.title">Bridge Categories</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-bridge-category" [routerLink]="['/bridge-category/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="finaltestApp.bridgeCategory.home.createLabel">
            Create new Bridge Category
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="bridgeCategories">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="finaltestApp.bridgeCategory.idBridge">Id Bridge</span></th>
            <th><span jhiTranslate="finaltestApp.bridgeCategory.name">Name</span></th>
            <th><span jhiTranslate="finaltestApp.bridgeCategory.bridgeCategoryParent">Bridge Category Parent</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let bridgeCategory of bridgeCategories ;trackBy: trackId">
                <td><a [routerLink]="['/bridge-category', bridgeCategory.id, 'view' ]">{{bridgeCategory.id}}</a></td>
                <td>{{bridgeCategory.idBridge}}</td>
                <td>{{bridgeCategory.name}}</td>
                <td>
                    <div *ngIf="bridgeCategory.bridgeCategoryParent">
                        <a [routerLink]="['../bridge-category', bridgeCategory.bridgeCategoryParent?.id, 'view' ]" >{{bridgeCategory.bridgeCategoryParent?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/bridge-category', bridgeCategory.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/bridge-category', bridgeCategory.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'bridge-category/'+ bridgeCategory.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
