<div>
    <h2 id="page-heading">
        <span jhiTranslate="monoApp.bar.home.title">Bars</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-bar" [routerLink]="['/bar/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="monoApp.bar.home.createLabel">
            Create new Bar
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="bars">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="monoApp.bar.name">Name</span></th>
            <th><span jhiTranslate="monoApp.bar.foo">Foo</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let bar of bars ;trackBy: trackId">
                <td><a [routerLink]="['/bar', bar.id, 'view' ]">{{bar.id}}</a></td>
                <td>{{bar.name}}</td>
                <td>
                    <div *ngIf="bar.foo">
                        <a [routerLink]="['../foo', bar.foo?.id, 'view' ]" >{{bar.foo?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/bar', bar.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/bar', bar.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'bar/'+ bar.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
