<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-account-bank-stat-heading" jhiTranslate="finaltestApp.accountBankStat.home.createOrEditLabel">Create or edit a Account Bank Stat</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!accountBankStat.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="accountBankStat.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="finaltestApp.accountBankStat.balance" for="field_balance">Balance</label>
                    <input type="number" class="form-control" name="balance" id="field_balance"
                        [(ngModel)]="accountBankStat.balance" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="finaltestApp.accountBankStat.lastRefresh" for="field_lastRefresh">Last Refresh</label>
                    <div class="d-flex">
                        <input id="field_lastRefresh" type="datetime-local" class="form-control" name="lastRefresh" [(ngModel)]="lastRefresh"
                        />
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="finaltestApp.accountBankStat.bridgeAccountBank" for="field_bridgeAccountBank">Bridge Account Bank</label>
                    <select class="form-control" id="field_bridgeAccountBank" name="bridgeAccountBank" [(ngModel)]="accountBankStat.bridgeAccountBank" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="bridgeAccountBankOption.id === accountBankStat.bridgeAccountBank?.id ? accountBankStat.bridgeAccountBank : bridgeAccountBankOption" *ngFor="let bridgeAccountBankOption of bridgeaccountbanks; trackBy: trackBridgeAccountBankById">{{bridgeAccountBankOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
