<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="notification">
            <h2><span jhiTranslate="jHipsterPress2App.notification.detail.title">Notification</span> {{notification.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jHipsterPress2App.notification.creationDate">Creation Date</span></dt>
                <dd>
                    <span>{{notification.creationDate}}</span>
                </dd>
                <dt><span jhiTranslate="jHipsterPress2App.notification.notificationDate">Notification Date</span></dt>
                <dd>
                    <span>{{notification.notificationDate}}</span>
                </dd>
                <dt><span jhiTranslate="jHipsterPress2App.notification.notificationReason">Notification Reason</span></dt>
                <dd>
                    <span jhiTranslate="{{'jHipsterPress2App.NotificationReason.' + notification.notificationReason}}">{{notification.notificationReason}}</span>
                </dd>
                <dt><span jhiTranslate="jHipsterPress2App.notification.notificationText">Notification Text</span></dt>
                <dd>
                    <span>{{notification.notificationText}}</span>
                </dd>
                <dt><span jhiTranslate="jHipsterPress2App.notification.isDeliverd">Is Deliverd</span></dt>
                <dd>
                    <span>{{notification.isDeliverd}}</span>
                </dd>
                <dt><span jhiTranslate="jHipsterPress2App.notification.user">User</span></dt>
                <dd>
                    {{notification.userId}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/notification', notification.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
