<div>
    <h2 id="page-heading">
        <span jhiTranslate="monoApp.foo.home.title">Foos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-foo" [routerLink]="['/foo/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="monoApp.foo.home.createLabel">
            Create new Foo
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="foos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="monoApp.foo.fooName">Foo Name</span></th>
            <th><span jhiTranslate="monoApp.foo.bar">Bar</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let foo of foos ;trackBy: trackId">
                <td><a [routerLink]="['/foo', foo.id, 'view' ]">{{foo.id}}</a></td>
                <td>{{foo.fooName}}</td>
                <td>
                    <div *ngIf="foo.bar">
                        <a [routerLink]="['../bar', foo.bar?.id, 'view' ]" >{{foo.bar?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/foo', foo.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/foo', foo.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'foo/'+ foo.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
