<div>
    <h2 id="page-heading">
        <span jhiTranslate="monoApp.invoice.home.title">Invoices</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-invoice" [routerLink]="['/invoice/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="monoApp.invoice.home.createLabel">
            Create new Invoice
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="invoices">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="monoApp.invoice.attachmentUrl">Attachment Url</span></th>
            <th><span jhiTranslate="monoApp.invoice.pdf">Pdf</span></th>
            <th><span jhiTranslate="monoApp.invoice.companyId">Company Id</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let invoice of invoices ;trackBy: trackId">
                <td><a [routerLink]="['/invoice', invoice.id, 'view' ]">{{invoice.id}}</a></td>
                <td>{{invoice.attachmentUrl}}</td>
                <td>
                    <a *ngIf="invoice.pdf" (click)="openFile(invoice.pdfContentType, invoice.pdf)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="invoice.pdf">{{invoice.pdfContentType}}, {{byteSize(invoice.pdf)}}</span>
                </td>
                <td>{{invoice.companyId}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/invoice', invoice.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/invoice', invoice.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'invoice', { outlets: { popup: invoice.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
