<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="employee">
            <h2><span jhiTranslate="jhipsterApp.employee.detail.title">Employee</span> {{ employee.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterApp.employee.name">Name</span></dt>
                <dd>
                    <span>{{ employee.name }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.employee.manager">Manager</span></dt>
                <dd>
                    <div *ngIf="employee.managerId">
                        <a [routerLink]="['/employee', employee.managerId, 'view']">{{ employee.managerName }}</a>
                    </div>
                </dd>

                <dt><span>Employees</span></dt>
                <!-- see bottom of html for recursiveListTmpl template -->
                <dd *ngIf="employee!.employees!.length > 0">
                    <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ $implicit: employee.employees }"></ng-container>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/employee', employee.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>

<!--small demo from https://trungk18.com/experience/angular-recursive-view-render/-->
<ng-template #recursiveListTmpl let-list>
    <li *ngFor="let item of list">
        <a [routerLink]="['/employee', item.id, 'view']">{{ item.name }}</a>
        <ul *ngIf="item.employees.length > 0">
            <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ $implicit: item.employees }"></ng-container>
        </ul>
    </li>
</ng-template>
