<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="bridgeUser">
            <h2><span jhiTranslate="finaltestApp.bridgeUser.detail.title">Bridge User</span> {{bridgeUser.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="finaltestApp.bridgeUser.uuidBridge">Uuid Bridge</span></dt>
                <dd>
                    <span>{{bridgeUser.uuidBridge}}</span>
                </dd>
                <dt><span jhiTranslate="finaltestApp.bridgeUser.email">Email</span></dt>
                <dd>
                    <span>{{bridgeUser.email}}</span>
                </dd>
                <dt><span jhiTranslate="finaltestApp.bridgeUser.password">Password</span></dt>
                <dd>
                    <span>{{bridgeUser.password}}</span>
                </dd>
                <dt><span jhiTranslate="finaltestApp.bridgeUser.user">User</span></dt>
                <dd>
                    {{bridgeUser.user?.id}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/bridge-user', bridgeUser.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
